<app-header [totalQuantity] = "total_qty"></app-header>
<div class="container padding-top padding-bottom"> 
    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Order Details</h3>
        </div>
    </div><br>
    <ng-container *ngIf="orderExist; else elseBlock">
        <app-invoice-details-shippingaddress 
        [shipToAddress] = "shippingAddress"
        [shipToName] = "name"
        ></app-invoice-details-shippingaddress>

        <app-invoice-details-products
        [currency] = "currency"
        [orderedProducts] = "orders">
        </app-invoice-details-products>
        
        <app-invoice-details-total
        [currency] = "currency"
        [orderSubTotal] = "subTotal">
        </app-invoice-details-total>
    </ng-container>
    <ng-template #elseBlock>
        <div class="row">
            <div class="col-sm-12 text-center text-danger">
                <p>Order does not exist</p>
            </div>
        </div><br>
    </ng-template>
</div>
