<table class="table table-condensed table-bordered">
  <tbody>
    <tr>
      <td class="text-right col-sm-10">Subtotal</td>
      <td class="text-right col-sm-2">${{coinPriceDisplay(roundPrice(orderSubTotal, 2))}} {{currency.currency}}</td>
    </tr>
    <tr>
      <td class="text-right col-sm-10">Shipping</td>
      <td class="text-right col-sm-2">$0</td>
    </tr>
    <tr>
      <td class="text-right col-sm-10"><strong>Grand Total</strong></td>
      <td class="text-right col-sm-2"><strong>${{coinPriceDisplay(roundPrice(orderSubTotal, 2))}} {{currency.currency}}</strong></td>
    </tr>
  </tbody>
</table>
