<app-header [totalQuantity] = "total_qty"></app-header>
<div class="container padding-top padding-bottom">
  <fieldset>
    <legend>Your order has been received.</legend>
  </fieldset>

  <div class="row">
    <div class="col-sm-12">
      Your order ID is {{orderID}}
    </div>
  </div><br>

  <div class="row">
    <div class="col-sm-12">
      <app-invoice-details-shippingaddress 
      [shipToAddress] = "shippingAddress"
      [shipToName] = "name"
      ></app-invoice-details-shippingaddress>
    </div>
  </div>

  <app-invoice-details-products [orderedProducts] = "orders"></app-invoice-details-products>

  <app-invoice-details-total [orderSubTotal] = "subTotal"></app-invoice-details-total>
</div>
