<app-header [totalQuantity] = "total_qty"></app-header>

<ng-container *ngIf = "total_qty!=0"> <!-- if there are items in shopping cart -->
    <app-shopping-cart-form
    [cartItems] = "cartItems"
    [currency] = "currency"
    [cartTotalPrice] = "cartTotalPrice"
    [formCheck] = "formCheck"
    [totalQuantity] = "total_qty"
    (updateCartEmitter)="updateCart($event)"
    ></app-shopping-cart-form>
</ng-container>

<ng-container *ngIf = "total_qty==0"> <!-- if there are no items in shopping cart -->
    <div class="container padding-top">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>No Items in Cart</h2>
            </div>
        </div>
    </div>
</ng-container>

